* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 220px;
    background-color: rgb(59, 8, 59);
    color: white;
}
footer {
    width: 100%;
    height: 40px;
    background-color: rgb(59, 8, 59);
    color: white;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    text-decoration: underline;
    color: rgb(59, 8, 59);
    font-size: 30px;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.card{
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(59, 8, 59);
    box-shadow: 5px 10px #888888;
    padding: 20px;
}